<%= form_for @source do |f| %>
<p>
  <%= f.label :image, "Upload an Image" %>
  <%= f.file_field :image %>
</p>
<p>or</p>

<p>
  <%= f.label :url, "Provide a URL" %>
  <%= f.text_field :url %>
</p>

<p><%= f.submit %></p>

<% end %>