<%= form_for @image do |f| %>
<p>
  <%= f.label :source, "Upload an Image" %>
  <%= f.file_field :source %>
</p>
<p>or</p>

<p>
  <%= f.label :url, "Provide a URL" %>
  <%= f.text_field :url %>
</p>

<p><%= f.submit %></p>

<% end %>